.custom-div {
    background-image: url('../../assets/rafiBG.png');
    background-repeat: no-repeat; /* Prevent image repetition */
    background-size: cover; /* Cover the whole page */
    background-attachment: fixed; /* Keep the image in place on scroll */
    
}