.register-bg {
    background-image: url('../../assets/ashe.jpg');
    background-repeat: no-repeat; /* Prevent image repetition */
    background-size: cover; /* Cover the whole page */
    background-position: center; /* Keep the image in place on scroll */
}